body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

.box {
    background: white;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

#msg {
    font-weight: bold;
}
